.App {
  text-align: center;
}
.App-aside {
  background: url("./ceu.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container-inputs-login {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: white;
}

.App-block-inputs-login {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: flex-start;
}

.App-block-inputs-login label {
  color: rgb(43, 43, 43);
  font-size: 14px;
  margin-right: 15px;
}
.div-button-login {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.App-block-inputs-login input {
  width: 250px;
  height: 42px;
  font-size: 15px;
  color: #666;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding-left: 2px;
  outline: none;
  transition: border-bottom 0.8s;
  transition-timing-function: ease;
}
.ant-message-notice-content {
  background-color: red;
  color: white;
}
.div-contrato {
  display: flex;
  font-size: 24px;
  margin-bottom: 10px;
  width: 250px;
  height: 35px;
  color: black;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-transform: none;
}
.App-block-inputs-login ::placeholder {
  font-size: 14px;
  color: rgb(177, 177, 177);
}
.img-Login {
  width: 300px;
  margin-bottom: 10px;
  height: 60px;
}
.App-block-inputs-login input:focus {
  border-bottom: 1px solid #001529;
}

aside button[type="submit"] {
  width: 100px;
  height: 35px;
  border: 0;
  background: #001529;
  border-radius: 2px;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin-top: 25px;
  outline: none;
}

aside button[type="submit"]:active {
  background: #1e176d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-login-error {
  width: 250px;
  height: 42px;
  font-size: 15px;
  color: #666;
  border: 0;
  border-bottom: 1px solid red !important;
  padding-left: 5px;
  outline: none;
  transition: border-bottom 0.8s !important;
  transition-timing-function: ease !important;
}

.labelError-login {
  margin-top: 3px;
  color: red !important;
  font-size: 16px !important;
  font-family: Bebas;
  display: flex;
  align-items: center;
  justify-content: center;
}
@font-face {
  font-family: "Bebas";
  src: url(../../fonts/Bebas-Regular.otf);
}
