.div-main-body {
  height: 100vh !important;
  width: calc(100% - 190px) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.div-body {
  height: 96vh !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-main-route {
  display: flex;
  width: 100%;
}

.troll {
  cursor: url("./mandrake.png"), help !important;
}
.div-footer-main {
  height: 50px !important;
  cursor: url("./mickey.png"), help !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Bebas;
  font-size: 17px;
  padding-top: 10px;
}
