.input-cnpj-consulta {
  width: 20%;
  height: 38px;
  margin-left: 10px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-nome-consulta {
  width: 35%;
  height: 38px;
  margin-left: 25px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-grupo-consulta {
  width: 15%;
  height: 38px;
  margin-left: 15px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-grupo-consulta::placeholder {
  color: rgb(177, 177, 177);
}
.input-grupo-consulta:focus {
  border-bottom: 1px solid #001529;
}
.input-nome-consulta::placeholder {
  color: rgb(177, 177, 177);
}
.input-nome-consulta:focus {
  border-bottom: 1px solid #001529;
}
.input-cnpj-consulta::placeholder {
  color: rgb(177, 177, 177);
}
.input-cnpj-consulta:focus {
  border-bottom: 1px solid #001529;
}
.input-tipo-consulta {
  width: 15%;
  height: 38px;
  margin: 0 25px 0 15px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-tipo-consulta::placeholder {
  color: rgb(177, 177, 177);
}
.input-tipo-consulta:focus {
  border-bottom: 1px solid #001529;
}
.input-codigo-consulta {
  width: 15%;
  height: 38px;
  margin: 0 0 0 15px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-codigo-consulta::placeholder {
  color: rgb(177, 177, 177);
}
.input-codigo-consulta:focus {
  border-bottom: 1px solid #001529;
}
.label-nome-table {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  font-size: 15px;
  width: 35%;
  margin-right: 10px;
}
.label-cnpj-table {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  font-size: 15px;
  width: 20%;
  margin-right: 10px;
}
.label-grupo-table {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  font-size: 15px;
  width: 15%;
  margin-right: 10px;
}
.label-codigo-table {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  font-size: 15px;
  width: 15%;
  margin-right: 10px;
}
.label-tipo-table {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  font-size: 15px;
  width: 15%;
}
.div-pages {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
.div-main-pages {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.div-teste {
  margin: 0 12px 0 0;
}
.div-spin {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-noItens-consulta {
  font-size: 16px;
  color: #262626;
  font-weight: bold;
  width: 100%;
}
