.div-line-igpm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
.div-line-0-igpm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-igpm {
  width: 25%;
  height: 38px;
  margin-left: 10px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-igpm::placeholder {
  color: rgb(177, 177, 177);
}
.input-igpm:focus {
  border-bottom: 1px solid #001529;
}
.input-igpm-direita {
  width: 15% !important;
  height: 38px;
  margin: 0 25px 0 10px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
  margin-right: 25px !important;
  margin-left: 15px !important;
}
.input-igpm-direita::placeholder {
  color: rgb(177, 177, 177);
}
.input-igpm-direita:focus {
  border-bottom: 1px solid #001529;
}
.select-igpm {
  width: 30% !important;
  margin-left: 25px !important;
}
.select-mes-igpm {
  width: 40% !important;
  margin-left: 15px !important;
}
.porcentagem-igpm {
  width: 15% !important;
  height: 38px;
  margin: 0 25px 0 10px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
  margin-left: 15px !important;
}
.textArea-igpm {
  margin: 25px 25px 0 25px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 10px;
  outline: none;
  width: 100%;
}
.textArea-igpm::placeholder {
  color: rgb(177, 177, 177);
}
.textArea-igpm:focus {
  border-bottom: 1px solid #001529;
}
