.div-inputs-flex-contratos {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.select-contratos {
  width: 20% !important;
  margin-left: 10px !important;
}
.input-valor {
  width: 20%;
  height: 38px;
  margin: 0 0 0 25px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-data {
  width: 20%;
  height: 38px;
  margin: 0 0 0 10px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.button-historico-contratos {
  width: 20%;
  height: 38px;
  margin: 0 25px 0 10px;
  background-color: #42a5f6;
  border: none;
  border-radius: 2px;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.button-historico-contratos:active {
  background: #2279c0;
}
.div-main-contratos {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.div-itens-contratos {
  margin: 10px 25px 10px 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 7px;
  height: auto;
}
.div-line-contratos {
  width: 100%;
  margin: 0 25px 15px 25px;
}
.div-noItens-contratos {
  font-size: 16px;
  color: #262626;
  font-weight: bold;
  width: 100%;
  margin: 0 25px 15px 25px;
}
.input-item-contratos {
  width: 58%;
  height: 38px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-valor-contratos {
  width: 18%;
  height: 38px;
  margin: 0 0 0 10px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-data-contratos {
  width: 18%;
  height: 38px;
  margin: 0 0 0 10px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.button-incluir {
  height: 35px;
  border: 0;
  background: #42a5f6;
  border-radius: 2px;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}
.button-incluir:active {
  background: #2279c0;
}
.input-codigo-contratos {
  width: 15%;
  height: 35px;
  margin: 0 10px 0 25px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-nome-contratos {
  width: 35%;
  height: 35px;
  margin-left: 0;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-grupo-contratos {
  width: 15%;
  height: 35px;
  margin-right: 25px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-cnpj-contratos {
  width: 35%;
  height: 35px;
  margin: 0 10px 0 10px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.ant-modal-content {
  width: 700px;
}
.ant-modal-body {
  display: flex;
  flex-direction: column;
}
.input-item-modal {
  width: 75%;
  height: 35px;
  margin: 10px 10px 0 0;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-codigo-modal {
  width: 25%;
  height: 35px;
  margin: 10px 0 0 0;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-item-modal::placeholder {
  color: rgb(177, 177, 177);
}
.input-item-modal:focus {
  border-bottom: 1px solid #001529;
}
.input-codigo-modal::placeholder {
  color: rgb(177, 177, 177);
}
.input-codigo-modal:focus {
  border-bottom: 1px solid #001529;
}
.div-line-modal {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.input-endereco-modal {
  width: 100%;
  height: 35px;
  margin-top: 15px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-endereco-modal::placeholder {
  color: rgb(177, 177, 177);
}
.input-endereco-modal:focus {
  border-bottom: 1px solid #001529;
}
.div-twoInfo-modal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input-bairro-modal {
  width: 55%;
  height: 35px;
  margin-top: 15px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-cep-modal {
  width: 40%;
  height: 35px;
  margin-top: 15px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-bairro-modal::placeholder {
  color: rgb(177, 177, 177);
}
.input-cep-modal::placeholder {
  color: rgb(177, 177, 177);
}
.input-bairro-modal:focus {
  border-bottom: 1px solid #001529;
}
.input-cep-modal:focus {
  border-bottom: 1px solid #001529;
}
.input-cidade-modal {
  width: 80%;
  height: 35px;
  margin-top: 15px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-uf-modal {
  width: 15%;
  height: 35px;
  margin-top: 15px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-cidade-modal::placeholder {
  color: rgb(177, 177, 177);
}
.input-uf-modal::placeholder {
  color: rgb(177, 177, 177);
}
.input-cidade-modal:focus {
  border-bottom: 1px solid #001529;
}
.input-uf-modal:focus {
  border-bottom: 1px solid #001529;
}
