.input-item-relatorioItens {
  width: 80%;
  height: 35px;
  margin-left: 25px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-item-relatorioItens::placeholder {
  color: rgb(177, 177, 177);
}
.input-item-relatorioItens:focus {
  border-bottom: 1px solid #001529;
}
.input-codigo-relatorioItens {
  width: 20%;
  height: 35px;
  margin: 0 25px 0 15px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-codigo-relatorioItens::placeholder {
  color: rgb(177, 177, 177);
}
.input-codigo-relatorioItens:focus {
  border-bottom: 1px solid #001529;
}
.label-nContrato-table {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  font-size: 15px;
  width: 10%;
  margin-right: 10px;
}
.label-razao-table {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  font-size: 15px;
  width: 40%;
  margin-right: 10px;
}
.label-valor-table {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  font-size: 15px;
  width: 15%;
  margin-right: 10px;
}
.label-tipo-table {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  font-size: 15px;
  width: 15%;
}
