.card-main {
  width: 100%;
  height: 100vh;
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-titulo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.h1-titulo {
  font-family: Bebas;
  font-weight: 500;
  font-size: 2.2em;
  margin: 0 0 0 25px;
}
.div-inputs-flex {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 50px;
}
