.card-main {
  width: 100%;
  height: 100vh;
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-titulo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.h1-titulo {
  font-family: Bebas;
  font-weight: 500;
  font-size: 2.2em;
  margin: 0 0 0 25px;
}
.div-inputs-flex {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 50px;
}
.input-nome {
  width: 35%;
  height: 35px;
  margin-left: 25px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-cnpj {
  width: 35%;
  height: 35px;
  margin-left: 10px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-grupo {
  width: 15%;
  height: 35px;
  margin-left: 15px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-codigo {
  width: 15%;
  height: 35px;
  margin: 0 25px 0 15px;
  color: #666;
  padding-left: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.input-nome::placeholder {
  color: rgb(177, 177, 177);
}
.input-cnpj::placeholder {
  color: rgb(177, 177, 177);
}
.input-grupo::placeholder {
  color: rgb(177, 177, 177);
}
.input-codigo::placeholder {
  color: rgb(177, 177, 177);
}
.input-nome:focus {
  border-bottom: 1px solid #001529;
}
.input-cnpj:focus {
  border-bottom: 1px solid #001529;
}
.input-grupo:focus {
  border-bottom: 1px solid #001529;
}
.input-codigo:focus {
  border-bottom: 1px solid #001529;
}
